body {
  background-color: #f1f1f1;
}

// all animals have this default setup for body, face and features elements
// saves setting it up each time
.body {
  width: 90px;
  height: 100px;

  &, &:before, &:after {
  position: absolute;
  }
  &:before, &:after {
  content: '';
  }
}
  .face,
  .features {
    &, &:before, &:after {
      position: absolute;
    }
    &:before, &:after {
      content: '';
    }
  }

// Specific styles

$defaultBodyColor: #e6ac4c;

//Slanted Body
.bodySlant {
  background-color: $defaultBodyColor;
  border-radius: 4px;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
}

.earsBasic {
  // A basic style for Ears
  &:before,
  &:after {
    width: 0;
    height: 0;

    top: -25px;

    border-top: 28px solid transparent;
    border-bottom: 20px solid transparent;
  }

  &:before {
    border-left: 20px solid $defaultBodyColor;
    left: 0;
  }
  &:after {
    border-right: 20px solid $defaultBodyColor;
    right: 0;
  }
}


// penguin
//
$penguinBodyColor: #1f173a;
$penguinPatchesColor: #fff;
$penguinFlipperColor: #f9761c;

.penguin {
  //position:absolute;
  top: 250px;
  left: 600px;
  width: 55px;
  height: 55px;

  background-color: $penguinBodyColor;
  border-radius: 50% / 75% 75% 35% 35%;

  box-shadow:
    //body section and patch
    0 50px 0 -6px $penguinPatchesColor,
    0 55px 0 -5px $penguinPatchesColor,
    0 62px 0 -5px $penguinPatchesColor,

    0 50px 0 2px $penguinBodyColor,
    0 55px 0 4px $penguinBodyColor,
    0 62px 0 5px $penguinBodyColor,

    //flippers
    //left
    -8px 55px 0 -3px $penguinPatchesColor,
    -13px 51px 0 -2px $penguinBodyColor,
    //right
    8px 55px 0 -3px $penguinPatchesColor,
    13px 51px 0 -2px $penguinBodyColor,

    //legs
    -15px 85px 0 -14px $penguinFlipperColor,
    15px 85px 0 -14px $penguinFlipperColor;

  &:after {
    //face background
    top: 12px;
    left: 8px;
    width: 25px;
    height: 34px;

    background-color: #fff;
    border-radius: 50%;

    box-shadow:
      15px 0 #fff,

      7px 13px #fff,
      16px 6px #fff,
      -2px 6px #fff
      ;
  }

  .face {
    // Nose
    top: 34px;
    left: 17px;
    width: 0;
    height: 0;
    z-index: 5;

    //background-color: $penguinFlipperColor;
    border-top: 9px solid $penguinFlipperColor;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-radius: 50%;

    &:before {
      // Eyes
      top: -20px;
      left: -8px;
      z-index: 5;
      width: 6px;
      height: 8px;
      background-color: #000;

      border-radius: 50%;

      box-shadow:
        10px 0 #000;
    }
  }
}

.footerLink {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 10px 5px;
  
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 0;
  text-decoration: none;
  transition: 300ms;
  
  opacity: 0.3;
  
  &:hover {
    opacity: 1;
  }
}
